@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #faf5e3;
}
 

.header {
  /* margin-left: 350px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.bag{
  margin-top: 51px;
}

.title-header {
  font-size: 30.3px;
  font-weight: 400;

  text-align: center;
  margin-top: 30px;
  margin-left: 150px;
}
.btns-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
  margin-right: -100px;
}
.btn-header {
  background-color: #95c5b7;
  color: #faf5e3;
  width: 178.77px;
  height: 40.4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 19px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.btns-header button:hover{
     background-color: #63867c;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#nav-item {
  background-color: #faf5e3;
  border: none;
  font-size: 19px;
  font-weight: 400px;
}

.jeito {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem;
}

.logo {
  width: 1100px;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(149, 197, 183);
  background: linear-gradient(
    90deg,
    rgba(149, 197, 183, 1) 62%,
    rgba(239, 178, 95, 1) 62%
  );
  padding: 2rem;
}
.colors-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  height: 400px;
  width: 600px;
}

.img-logo {
  width: 600px;
  height: 500px;
}

.colors-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bg-img {
  width: 600px;
  height: 500px;
}

.title-logo {
  font-size: 50px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.p-logo {
  font-size: 25px;
  font-weight: 400;
}

.btn-logo {
  font-family: "Inter", sans-serif;
  background-color: #95c5b7;
  color: black;
  width: 180px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 3px solid black;
  border-radius: 25px;
  cursor: pointer;
}
.btn-logo:hover {
    background-color: #63867c;
    color: white;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.produtos {
    margin-top: 170px;
    flex-direction: row;
}
.produtos-header {
    display: flex;
    flex-direction: row;
    gap: 600px;
}
.title-produtos {
    font-size: 50px;
    margin-left: 134px;
}

.produtos {
     display: flex;
     flex-direction: column;
     gap: 15rem;
    margin-top: 100px;
}
.sofa1 {
    width: 450px;
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.sofa2 {
  width: 450px;
  height: 350px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.sofa3 {
  width: 500px;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.sofa4 {
  width: 450px;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.sofas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.poltrona {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.preco {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.title-sofa {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.descricao-sofa {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.56);
    text-align: center;
}
.btn-sofa {
    width: 200px;
    height: 150px;
    background-color: #FAF5E3;
    border: 1px solid black;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
}
.title-modelo {
  font-size: 30px;
}

.modelo {
  width: 20rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.modelo img {
  width: 12rem;

}
.modelo p {
  font-size: 1.8rem;
  font-weight: 700;
}
.montar {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.sofa-chesterfield:hover, .sofa-modular:hover, .sofa-canto:hover, .sofa-retratil:hover, .sofa-cama:hover, .sofa-retro:hover{
  border: 3px solid gray;
  border-radius: 20px;
}


.mmontar {
  margin-top: 200px;
}
.monteseu img {
  margin-top: 50px;
  margin-left: 150px;
}
.monteseusofa{
  font-size: 50px;
  margin-left: 150px;
}
.modelodosofa {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  margin-left: -120px;
}
.modelos1 {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.modelos2{
  display: flex;
  flex-direction: row;
}
.modelos {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.tipotecidos {
  margin-top: 10rem;
}
.title-tecidos {
  font-size: 30px;
  margin-left: 150px;
}
.tecidos {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.linho {
  border: 3rem solid #EFB25F;
  border-radius: 1rem;
  width: 204px;
  height: 195px;
}
.sarja {
  border: 3rem solid #95C5B7;
  border-radius: 1rem;
  width: 204px;
  height: 195px;
}
.suede {
  border: 3rem solid #CE524A;
  border-radius: 1rem;
  width: 204px;
  height: 195px;
}
.acquablock {
  border: 3rem solid #EFB25F;
  border-radius: 1rem;
  width: 204px;
  height: 195px;
}
.veludo {
  border: 3rem solid #95C5B7;
  border-radius: 1rem;
  width: 204px;
  height: 195px;
}
.tecido-linho ,.tecido-sarja ,.tecido-suede ,.tecido-acquablock , .tecido-veludo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.tecido-linho ,.tecido-sarja ,.tecido-suede ,.tecido-acquablock , .tecido-veludo p {
  font-size: 18px;
  font-weight: 700;
}

.linho:hover ,.sarja:hover ,.suede:hover ,.acquablock:hover , .veludo:hover{
  border: 3px solid gray;
}
.cores-sofa{
  margin-top: 10rem;
}
.title-cores {
  font-size: 30px;
  margin-left: 150px;
}
.cor {
  width: 14rem;
  height: 13rem;
 
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}
.cores {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.cores1 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.cores2 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.cores3 {
  gap: 3rem;
  display: flex;
  flex-direction: row;
}
.p-cor {
  font-size: 15px;
  font-weight: 700;
}
#box-cor {
  width: 9rem;
  height: 9rem;
  border: 2px solid black;
  border-radius: 1rem;
}
.cor-celeste {
  background-color: #8CE4FA;
}
.cor-musgo {
  background-color: #51652E;
}
.cor-verdeclaro {
  background-color: #85A44B;
}
.cor-verdeescuro {
  background-color: #323E1C;
}
.cor-chiclete {
  background-color: #F2B3B3;
}
.cor-pink {
  background-color: #D94A70;
}
.cor-kiwi {
  background-color: #8C5E08;
}
.cor-bege {
  background-color: #E4D6C1;
}
.cor-amarelo {
  background-color: #F2BD02;
}
.cor-vermelho {
  background-color: #DE0029;
}
.cor-preto {
  background-color: #000000;
}
.cor-cinza {
  background-color: #ABABAB;
}
.cor-branco {
  background-color: #FFFFFF;
}
.cor-rose {
  background-color: #F7CAC9;
}
.cor-royal {
  background-color: #021BAB;
}
.cor-roxo {
  background-color: #5F2880;
}
.cor-vinho {
  background-color: #7D1C24;
}
.cor-laranja {
  background-color: #E65100;
}
.tamanho {
  margin-top: 3rem;
}
.title-tamanho {
  font-size: 30px;
  margin-left: 150px;
}
.sofas-tamanho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}
.tamanhos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.p-tamanho {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.btn-add {
  width: 347px;
  height: 57px;
  border: 1px solid black;
  background-color: #faf5e3;
  font-size: 18px;
  text-align: center;
}
.btn-adicionar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.footer-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  gap: 15rem;
  padding-top: 10rem;
}
.footer-redes {
  display: flex;
  flex-direction: column;
  gap: 3rem;

}
footer {
  margin-top:10rem;
  background-color: #EFB25F;
  height: 35rem;
}
.footer-line {
  width: 3px;
  height: 20rem;
  background-color: #000000;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.direitos {
  display: flex;
  flex-direction: row;
}
.footer-title {
  font-size: 40px;
  font-weight: 400;
}
#direitos {
  font-size: 19px;
  font-weight: 500;
}
.p-footer {
  font-size: 20px;
  font-weight: 500;
}
.insta {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.face {
  display: flex;
  flex-direction: row;

  gap: 10px;
}
.email {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.lines {
  content: "";

  display: block;
  width: 27rem;
  height: 0.2rem;
  background-color: #E65100;
  margin-left: 150px;
}
.line-modelo {
  content: "";

  display: block;
  width: 27rem;
  height: 0.3rem;
  background-color: #E65100;
  margin-left: 2px;
}
.btn-add , .btn-sofa , .cor, .tecido-acquablock, .tecido-linho, .tecido-sarja, .tecido-veludo, .tecido-suede, .tamanhos , #nav-item, .seta, .cart{
  cursor: pointer;
}
