@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #faf5e3;
}
.header {
  margin-left: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 300px;
}
.title-header {
  font-size: 50px;
  font-weight: 400;

  text-align: center;
  margin-top: 30px;
}
.btns-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}
.btn-header {
  background-color: #95c5b7;
  color: #faf5e3;
  width: 180px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.btns-header button:hover{
     background-color: #63867c;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#nav-item {
  background-color: #faf5e3;
  border: none;
  font-size: 25px;
  font-weight: 400px;
}

.jeito {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem;
}

.logo {
  width: 1400px;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(149, 197, 183);
  background: linear-gradient(
    90deg,
    rgba(149, 197, 183, 1) 62%,
    rgba(239, 178, 95, 1) 62%
  );
  padding: 2rem;
}
.colors-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  height: 400px;
  width: 600px;
}

.img-logo {
  width: 600px;
  height: 500px;
}

.colors-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bg-img {
  width: 600px;
  height: 500px;
}

.title-logo {
  font-size: 50px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.p-logo {
  font-size: 25px;
  font-weight: 400;
}

.btn-logo {
  font-family: "Inter", sans-serif;
  background-color: #95c5b7;
  color: black;
  width: 180px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 3px solid black;
  border-radius: 25px;
  cursor: pointer;
}
.btn-logo:hover {
    background-color: #63867c;
    color: white;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.produtos {
    margin-top: 170px;
}
.produtos-header {
    display: flex;
    flex-direction: row;
    gap: 800px;
}
.title-produtos {
    font-size: 50px;
    margin-left: 363px;
}
.produtos {
    margin-top: 100px;
}
.sofa1 {
    width: 450px;
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.preco {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.title-sofa {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.descricao-sofa {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.56);
    text-align: center;
}
.btn-sofa {
    width: 150px;
    height: 50px;
    background-color: #FAF5E3;
    border: 1px solid black;
    font-size: 15px;
    cursor: pointer;
}